//======================================================================
// Layout
//======================================================================
$page-width: 1060px;
$sidebar-width: 336px;
$bitween-sidebar-content-margin: 30px;
$content-width: $page-width - ( $sidebar-width + $bitween-sidebar-content-margin );

//======================================================================
// media query
//======================================================================
$bp-pc: 1100px; // $page-widthよりも小さくならないように気をつけましょう
$bp-tb: 768px; // iPadに合わせて設定

$mq-tb-max: $bp-pc - 1;
$mq-sm-max: $bp-tb - 1;