/*--------------------------------------------------------------
# site content
--------------------------------------------------------------*/
.site-content {
	width: 100%;
	display: block;
}

/*--------------------------------------------------------------
# content area
--------------------------------------------------------------*/
.content-area {
	width: 100%;
	padding: 0 3%;
	margin-bottom: 5em;
}

/*--------------------------------------------------------------
# sidebar
--------------------------------------------------------------*/
.sidebar {
	width: 100%;
	padding: 0 3%;
}

.widget {
	ul {
		li {
			display: inline-block;
			ul {
				display: inline-block;
				margin-bottom: 0;
			}
		}
	}
}

/* RSSウィジェット */
.widget_rss {
	ul {
		li {
			display: block;
		}
	}
}