button {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
}

input {
  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
  }
}

button:hover {
  border-color: #ccc #bbb #aaa;
}

input {
  &[type="button"]:hover,
  &[type="reset"]:hover,
  &[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
  }
}

button:focus {
  border-color: #aaa #bbb #bbb;
}

input {
  &[type="button"]:focus,
  &[type="reset"]:focus,
  &[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
  }
}

button:active {
  border-color: #aaa #bbb #bbb;
}

input {
  &[type="button"]:active,
  &[type="reset"]:active,
  &[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
  }
  &[type="text"],
  &[type="email"],
  &[type="url"],
  &[type="password"],
  &[type="search"],
  &[type="number"],
  &[type="tel"],
  &[type="range"],
  &[type="date"],
  &[type="month"],
  &[type="week"],
  &[type="time"],
  &[type="datetime"],
  &[type="datetime-local"],
  &[type="color"] {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
  }
}

textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

select {
  border: 1px solid #ccc;
}

input {
  &[type="text"]:focus,
  &[type="email"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus,
  &[type="search"]:focus,
  &[type="number"]:focus,
  &[type="tel"]:focus,
  &[type="range"]:focus,
  &[type="date"]:focus,
  &[type="month"]:focus,
  &[type="week"]:focus,
  &[type="time"]:focus,
  &[type="datetime"]:focus,
  &[type="datetime-local"]:focus,
  &[type="color"]:focus {
    color: #111;
  }
}

textarea {
  &:focus {
    color: #111;
  }
  width: 100%;
}